*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;

}

html,
body{
    height: 100%;
    width: 100%;
}

.parent{
    height: 100vh;
    width: 100%;
    background-color: #111;
    padding: 30px;
    display: flex;
    gap: 25px;
}

.card{
    height: 310px;
    width: 280px;
    background-color: #fff;
    border-radius: 30px;
    padding: 30px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.card .top{
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 30px;
}

.top img{
  height: 34px;
  width: 34px;
  border-radius: 50%;
  border: 1px solid #dadada;
  padding: 3px;
}

.top button {
  display: flex;
  align-items: center;
  padding: 3px 6px;
  font-size: 11px;
  gap: 3px;
  background-color: transparent;
  color: #b1b1b1;
  border-radius: 5px;
  border: 1px solid #dadada;
}



.center h3{
  font-size: 17px;
  font-weight: 500;
}
.center h3 span{
  font-size: 9px ;
  font-weight: 400;
  color: #8b8b8b;
}

.center .tag{
  display: flex;
  gap: 5px ;
  margin-top: 10px;
  
}

.center .tag h4{
  font-size: 10px ;
  background-color: #f0eeeef0;
  color: #111;
  padding: 4px 8px;
  font-weight: 500;
  border-radius: 4px;
}

.center h2{
  font-size: 20px;
  font-weight: 600;
}

.bottom{
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-top: 1.5px solid #f4ecec;
  padding-top: 25px;

}

.bottom button{
  background-color: black;
  color: white;
  padding: 5px 10px;
  border-radius: 5px;
  border: none;
  column-width: 600;
}

.bottom h3{
  font-size: 17px;
}

.bottom p{
  font-size: 12px;
  color: #8b8b8b;
}